Minimum System Requirements

This might not work on an old 32bit IBM ThinkPad.
Use a newer 64bit system and spread out the virtual
machine resources.

Development System

Apple MacBook Pro
OS X
VMware Fusion 5 Virtualization (SANS SIFT)
2.7GHz 
i7 Intel
16 GB Memory
