[Desktop Entry]
Version=1.3.9
Name=MantaRay
Comment=Forensic Workflow Automation
Exec=/usr/bin/mantaray
Icon=/usr/share/mantaray/images/Mantaray_Artwork_Small.png
Terminal=true
Type=Application
Categories=Utility;Application;
